* {
    margin: 0;
}
body {
    background-color: #292C42;
    color: white;
    font-family: 'Nunito', sans-serif !important;
}

/*
#edt-item-day {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 3vmax;
    width: 92%;
    margin: 0 auto;
    margin-top: 25px;
    background-color: #32374F;
    border-radius: 15px 15px 15px 15px;
}
.lesson-Name {
    padding-left: 3vmax;
    font-size: 1.5em;
    font-weight: 700;
    color: white;
    border-left: 3.5px solid #0478EB;
}
.lesson-Professor {
    opacity: 1;
    padding-left: 3.5vmax;
}
.lesson-Date {
    font-weight: 700;
    font-size: 1.5em;
    margin-top: 20px;
    padding-left: 3.5vmax;
}
.lesson-Location {
    float: right;
    margin-top: -30px;
    margin-right: 20px;
    font-size: 1.5em;
}
.lesson-Location-Number {
    color: #0478EB;
}

#nothingfound {
    font-size: 2em;
    margin-top: 50%;
    opacity: 0.7;
    text-align: center;
    vertical-align: middle;
}

#navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #202439;
}
#navbar-container {
    background-color: #202439;
    width:100%;
    text-align:center;
}
#navbar-presentation {
    margin-top: 2vh;
    margin-left: 5vw;
}
#navbar-presentation-text {
    text-transform: uppercase;
    font-size: 2em;
    font-weight: 700;
    font-family: 'Nunito', sans-serif;
    color: white;
}
#navbar-date {
    color: #0478EB;
    font-family: 'Nunito', sans-serif;
    font-size: 1.1em;
    text-transform: uppercase;
}
.navbar-container-item {
    width:33%;
    height: 75px;
    line-height: 75px;
    font-size: 1.4em;
    font-weight: 700;
}
.navbar-container-item:hover {
    cursor: pointer;
}
#daily {
    float: left;
}
#weekly {
    display: inline-block;
    margin: 0 auto; 
}
#monthly {
    float: right;
}
#back-arrow {
    width: 6vh;
    margin-top: 3vh;
    margin-left: 3vw;
    transform: rotate(90deg);
}
#back-arrow:hover {
    cursor: pointer;
}
#list-item {
    margin-top: 280px;
}

#edt-item-week {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 92%;
    height: 50px;
    margin: 0 auto;
    margin-top: 25px;
    background-color: #32374F;
    border-radius: 15px 15px 15px 15px;
    text-align: center;
    border: 1px solid #0478EB;
}
#edt-item-week:hover {
    cursor: pointer;
}
.daytag {
    line-height: 50px;
    font-size: 1.5em;
    font-weight: 700;
    color: white;
}

#no-lesson-emoji {
    font-size: 3em;
    margin-top: 50%;
    opacity: 0.6;
    text-align: center;
    vertical-align: middle;
}
#no-lesson-text {
    font-family: 'Nunito';
    font-style: italic;
    font-size: 1.2em;
    margin-top: 5%;
    opacity: 0.6;
    text-align: center;
}
*/

#navbar {
    background-color: #202439;
    position: sticky;
    top: 0;
}
.navbar-container-item {
    width:33%;
    height: 75px;
    line-height: 75px;
    font-size: 5vmin;
    font-weight: 700;
    text-align: center;
}
.navbar-container-item:hover {
    cursor: pointer;
}
#daily {
    float: left;
}
#weekly {
    display: inline-block;
    margin: 0 auto; 
}
#monthly {
    float: right;
}
#back-arrow {
    width: 12vmin;
    height: 12vmin;
    margin-top: 10px;
    margin-left: 10px;
    transform: rotate(90deg);
}
#navbar-presentation {
    margin-top: 20px;
    margin-left: 20px;
}
#navbar-presentation-text {
    text-transform: uppercase;
    font-size: 7vmin;
    font-weight: 700;
    font-family: 'Nunito', sans-serif;
    color: white;
}

#edt-item-week {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 92%;
    margin: 0 auto;
    margin-top: 25px;
    background-color: #32374F;
    border-radius: 15px 15px 15px 15px;
    text-align: center;
    border: 1px solid #0478EB;
}
#edt-item-week:hover {
    cursor: pointer;
}
.daytag {
    line-height: 50px;
    font-size: 6.5vmin;
    font-weight: 700;
    color: white;
    display: block;
}

#no-lesson-emoji {
    font-size: 3em;
    margin-top: 30%;
    opacity: 0.6;
    text-align: center;
    vertical-align: middle;
}
#no-lesson-text {
    font-family: 'Nunito', sans-serif;
    font-style: italic;
    font-size: 6vmin;
    margin-top: 5%;
    opacity: 0.6;
    text-align: center;
}
#edt-item-day {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 3vmax;
    width: 92%;
    margin: 20px auto;
    background-color: #32374F;
    border-radius: 15px 15px 15px 15px;
}
.lesson-Name {
    padding-left: 3vmax;
    font-size: 5vmin;
    font-weight: 700;
    color: white;
}
.lesson-Professor {
    opacity: 1;
    padding-left: 3.5vmax;
    font-size: 3vmin;
}
.lesson-Date {
    font-weight: 700;
    font-size: 4.5vmin;
    margin-top: 20px;
    margin-right: 7vmin;
    padding-left: 3.5vmax;
    display: inline-table;
}
.lesson-Location {
    display: inline-table;
    width: 40%;
    text-align: right;
    margin-top: -30px;
    margin-right: 20px;
    font-size: 4vmin;
}

#nothingfound {
    font-size: 2em;
    margin-top: 50%;
    opacity: 0.7;
    text-align: center;
    vertical-align: middle;
}

.loading {
    pointer-events: none;
}

.bottom-lesson {
    border: 1px solid red;
    display: block;
}
