body{
    background-color: #292C42;
    font-family: 'Nunito';
    color: white;
}

.fleche{
    width: 100%;
    position: absolute;
    
}
#fleche img{
    float: right;
    width: 6vh;
    margin-top: 3vh;
    margin-right: 3vw;
    transform: rotate(-90deg);
}

#login{
    width: 100%;
    float: left;
    /*border:solid red;*/
    display: flex;
}
#login div {
    text-align: center;
    padding: 20px;
    width: 45%;
}

#userlogin{
    color: gray;
}

#colorpicker{
    float: left;
    width: 100%;
    
}
#colorpicker div p{
    width: 100%;
    text-align: center;
}
.colorbutton{
    text-align: center;
    padding: 2px;
    width: 45%;
}
#colorpoint{
    width: 40px;
    height: 40px;
    
    border-radius: 50%;
    border:solid white;
    background-color: aqua;
}
#couleurmatiere{
    display: flex;
    width: 100%;
}

#matiere{
    padding-top: 10px;
}